.container {
  width: 382px;
  position: relative;
  height: 48px;
}

.input {
  width: calc(100% - 72px);
}

.button {
  position: absolute;
  right: 0;
  background: var(--mark-color);
  height: 100%;
  width: 48px;
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button img {
  margin-top: 2px;
  margin-left: 1px;
}
